.idea
.DS_Store
venv
/venv/*
venv/include/
.env
.flaskenv
__pycache__/config.cpython-37.pyc
blog/__pycache__/errors.cpython-37.pyc
blog/__pycache__/forms.cpython-37.pyc
blog/__pycache__/models.cpython-37.pyc
blog/__pycache__/utils.cpython-37.pyc
blog/static/img/posts/foiypy-web-design.jpeg
migrations/__pycache__/
migrations/versions/__pycache__/
venv/lib/python3.7/site-packages/PIL/__pycache__/
venv/lib/python3.7/site-packages/__pycache__/editor.cpython-37.pyc
venv/lib/python3.7/site-packages/__pycache__/flask_misaka.cpython-37.pyc
venv/lib/python3.7/site-packages/__pycache__/six.cpython-37.pyc
venv/lib/python3.7/site-packages/alembic/__pycache__/
venv/lib/python3.7/site-packages/alembic/autogenerate/__pycache__/
venv/lib/python3.7/site-packages/alembic/ddl/__pycache__/
venv/lib/python3.7/site-packages/alembic/operations/__pycache__/
venv/lib/python3.7/site-packages/alembic/runtime/__pycache__/
venv/lib/python3.7/site-packages/alembic/script/__pycache__/
venv/lib/python3.7/site-packages/alembic/templates/generic/__pycache__/
venv/lib/python3.7/site-packages/alembic/templates/multidb/__pycache__/
venv/lib/python3.7/site-packages/alembic/templates/pylons/__pycache__/
venv/lib/python3.7/site-packages/alembic/testing/__pycache__/
venv/lib/python3.7/site-packages/alembic/util/__pycache__/
venv/lib/python3.7/site-packages/cffi/__pycache__/
venv/lib/python3.7/site-packages/dateutil/__pycache__/
venv/lib/python3.7/site-packages/dateutil/parser/__pycache__/
venv/lib/python3.7/site-packages/dateutil/tz/__pycache__/
venv/lib/python3.7/site-packages/dateutil/zoneinfo/__pycache__/
venv/lib/python3.7/site-packages/flask_login/__pycache__/
venv/lib/python3.7/site-packages/flask_migrate/__pycache__/
venv/lib/python3.7/site-packages/flask_migrate/templates/flask-multidb/__pycache__/
venv/lib/python3.7/site-packages/flask_migrate/templates/flask/__pycache__/
venv/lib/python3.7/site-packages/flask_sqlalchemy/__pycache__/
venv/lib/python3.7/site-packages/flask_wtf/__pycache__/
venv/lib/python3.7/site-packages/flask_wtf/recaptcha/__pycache__/
venv/lib/python3.7/site-packages/mako/__pycache__/
venv/lib/python3.7/site-packages/mako/ext/__pycache__/
venv/lib/python3.7/site-packages/misaka/__pycache__/
venv/lib/python3.7/site-packages/pycparser/__pycache__/
venv/lib/python3.7/site-packages/pycparser/ply/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/connectors/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/databases/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/dialects/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/dialects/firebird/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/dialects/mssql/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/dialects/oracle/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/dialects/postgresql/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/dialects/sqlite/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/dialects/sybase/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/engine/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/event/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/ext/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/ext/declarative/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/orm/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/pool/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/sql/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/testing/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/testing/plugin/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/testing/suite/__pycache__/
venv/lib/python3.7/site-packages/sqlalchemy/util/__pycache__/
venv/lib/python3.7/site-packages/wtforms/__pycache__/
venv/lib/python3.7/site-packages/wtforms/csrf/__pycache__/
venv/lib/python3.7/site-packages/wtforms/ext/__pycache__/
venv/lib/python3.7/site-packages/wtforms/ext/appengine/__pycache__/
venv/lib/python3.7/site-packages/wtforms/ext/csrf/__pycache__/
venv/lib/python3.7/site-packages/wtforms/ext/dateutil/__pycache__/
venv/lib/python3.7/site-packages/wtforms/ext/django/__pycache__/
venv/lib/python3.7/site-packages/wtforms/ext/django/templatetags/__pycache__/
venv/lib/python3.7/site-packages/wtforms/ext/i18n/__pycache__/
venv/lib/python3.7/site-packages/wtforms/ext/sqlalchemy/__pycache__/
venv/lib/python3.7/site-packages/wtforms/fields/__pycache__/
venv/lib/python3.7/site-packages/wtforms/widgets/__pycache__/
